.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #02023A;
        border-radius: 8px;
        max-width: 30rem;
    }

    .headerBox {
        padding: 1rem;
        background-color: #1565C0;

        h2 {
            display: flex;
            align-items: center;
            gap: .5rem;
        }
    }

    .bodyBox {
        padding: 0 1rem 1rem 1rem;
    }

    button {
        margin-right: 1rem;
        margin-top: 1rem;
    }
}