* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #02023A;
    background-image: url("./background.svg");
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}