.card {
    background-color: #02063ea4;
    cursor: pointer;
    transition: .3s;
    border-radius: 12px;
    width: 18rem;
    height: 27rem;
    position: relative;

    &:hover {
        transform: scale(1.05);
    }

    .checklist {
        color: #bebebe;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 18rem;
        height: 27rem;
    }

    .buttons {
        position: absolute;
        margin-left: 13rem;
        display: flex;
        gap: .3rem;

        button {
            background-color: #cfcfcf;
        }
    }

    .checklistIcon {
        width: 15rem;
        min-height: 12rem;
        height: 12rem;
        border-radius: 5px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        object-fit: cover;
    }

    .checklistInfoContainer {
        padding: 0 1rem .3rem 1rem;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .checklistTitle {
        font-size: .8rem;
        color: #fff
    }

    .checklistDescription {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 4.5rem;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .checklistInfo {
        display: flex;
        justify-content: space-between;
    }

    .checklistAuthor {
        display: flex;
        align-items: center;
        padding-top: .3rem;
        border-top: 2px solid #7d7d7d69;

        p {
            margin-left: .2rem;
        }

        span {
            color: #fff;
        }
    }

    .alignElements {
        display: flex;
        gap: .3rem;
        align-items: center;
    }
}