.header {
    padding: 1rem 2rem .5rem 2rem;
    background-color: #02023a63;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navContainer {
        display: flex;
        align-items: center;
        gap: 5rem;

        a {
            color: #fff;
            margin-left: 2rem;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .logo {
        max-width: 3rem;
        transform: rotate(-25deg);
    }
}