.bodyForm {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
    input {
        width: 18rem;
        height: 2rem;
        font-size: 1rem;
        padding: 0 .5rem;
        outline: none;
        border-width: 0 0 2px 0;
        border-color: rgba(163, 163, 163, 0.302);
        border-style: solid;
        transition: .3s;
    }

    button {
        background-color: #DE9DED;
        color: #fff;
        border: 2px solid transparent;
        padding: .5rem 1.3rem;
        border-radius: 20px;
        margin-left: 60%;
        cursor: pointer;
        font-size: .8rem;
        margin-top: .5rem;

        &:hover {
           background-color: #d881eb; 
        }
    }
}