.modal {
    display: grid;
    height: 100vh;
    justify-content: center;
    place-content: center;

    .box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: #02023A;
        padding: 2rem;
        border-radius: 8px;
    }

    input, textarea {
        color: #fff;
        width: 25rem;
    }

    label {
        color: #fff;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    button {
        margin-right: 1rem;
    }
}